body {
  /*letter type indexpage*/
  margin: 0;
  font-family: Calibri, Helvetica, sans-serif;
}

/*navigationbar*/
.topnav {
  overflow: hidden;
  background-color: #262626;
}

.topnav a {
  float: left;
  color: #262626;
  text-align: center;
  padding: 15px 13px;
  text-decoration: none;
  font-size: 15px;
  background-color: #333;
  color: white;
}

.topnav a:active {
  background-color: #333;
  color: white;
}
/*background image indexpage*/
html,body{
  margin:0;
  height:100%;
  background-image: url('../image/Dark.jpg');
  background-size: cover;
}

picture{
    width: 100px;
    height: 100px;
  }

.container {
  position: relative;
}
/*tekstblock "welkomtekst"*/
.text-block {
  position: absolute;
  bottom: 90px;
  right: 130px;
  background-color: #262626;
  color: white;
  padding-left: 90px;
  padding-right: 90px;

  width: 400px;
  height: 430px;
  padding: 50px;
  border: 1px solid #000000;
  box-sizing: border-box;

}
/*footer*/
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #262626;
   color: white;
   text-align: left;
}
